.form {
	background: radial-gradient(circle at top, #252935, #181f29 80%);
	height: 420px;
	width: 420px;
	padding: 38px;
	border-radius: 30px;

	@media (max-width: 425px) {
		width: 90%;
		height: 370px;
		padding: 25px;
	}
}

.title {
	margin-top: 25px;
	color: var(--white);
	font-size: 28px;

	@media (max-width: 425px) {
		font-size: 24px;
		margin-top: 15px;
	}
}

.description {
	color: var(--medium-grey);
	font-size: 15.3px;
	line-height: 1.4rem;
	margin-top: 10px;

	@media (max-width: 425px) {
		font-size: 14px;
	}
}
